APP_PORT=your-app-port

DATABASE_URL=your-database-url

KAFKA_BROKERS=your-kafka-brokers
KAFKA_TOPIC_USER_CREATED=onepay.user.created
KAFKA_TOPIC_TOPUP_SUCCESS=onepay.topup.success
KAFKA_TOPIC_WALLET_UPDATED=onepay.wallet.updated
KAFKA_CONSUMER_GROUP=your-kafka-consumer-group